html {
    background-color: darkorchid;
}

h1 {
    color: purple;
    background-color: blueviolet;
}

h2 {
    color: green;
    background-color: red;
}

h3 {
    color: white;
    background-color: black;
}