*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav p{
    color: black;
    font-size: 30px;
    line-height: 100px;
    padding: 0 500px;
    padding-top: 0 200px;
    font-weight: bold;
    background-color: green;
}

p a{
    color: white;
}